{% extends "menu.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
    {% comment %}
        {{ form.media }}
    {% endcomment %}
{% endblock %}

{% block content %}

    <div class="container mt-4">

        <h1 class="text-center">Create Output CSV</h1>

        {{ form.instance.product_list_search_field|json_script:"json_product_list_search_field" }}
        {{ form.instance.product_list_replace_field|json_script:"json_product_list_replace_field" }}
        {{ form.instance.price_list_search_field|json_script:"json_price_list_search_field" }}
        {{ form.instance.price_list_replace_field|json_script:"json_price_list_replace_field" }}

      <form action="" method="post" id="upload_form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="mb-3">
            <input type="submit" class="btn btn-dark btn-block" value="Create CSV">
        </div>

        <a href="{% url 'plc:output_csv_list' %}" class="btn btn-default btn-block" role="button">Cancel</a>
      </form>

    </div>

    <script>
        product_list_select = document.getElementById("id_product_list");

        price_list_select = document.getElementById("id_price_list")

        let product_list_search_value = JSON.parse(document.getElementById('json_product_list_search_field').textContent);
        let product_list_replace_value = JSON.parse(document.getElementById('json_product_list_replace_field').textContent);
        let price_list_search_value = JSON.parse(document.getElementById('json_price_list_search_field').textContent);
        let price_list_replace_value = JSON.parse(document.getElementById('json_price_list_replace_field').textContent);

        const updateProductSelect = () => {
            let product_list_select_value = product_list_select.value;

            let product_list_column_names = {};

        fetch(`https://pricelistcsv.pythonanywhere.com/return_product_columns/${product_list_select_value}`)
            .then((response) => response.json())
            .then(
                    (data) => {
                        product_list_column_names = JSON.parse((data[0].fields.column_names));

                        let product_list_search_field = document.getElementById("id_product_list_search_field");
                        let product_list_replace_field = document.getElementById("id_product_list_replace_field");
                        for (a in product_list_search_field.options) { product_list_search_field.options.remove(0); }
                        for (a in product_list_replace_field.options) { product_list_replace_field.options.remove(0); }


                        i = 0,
                        il = product_list_column_names.length;

                        try {
                            for (; i < il; i += 1) {
                                let option = document.createElement('option');
                                option.setAttribute('value', product_list_column_names[i]);
                                option.appendChild(document.createTextNode(product_list_column_names[i]));

                                product_list_search_field.appendChild(option);

                                if (option.value == product_list_search_value) {
                                    let o = product_list_search_field.options[i];
                                    o.selected = true;
                                }


                                let option2 = document.createElement('option');
                                option2.setAttribute('value', product_list_column_names[i]);
                                option2.appendChild(document.createTextNode(product_list_column_names[i]));
                                product_list_replace_field.appendChild(option2);

                                if (option2.value == product_list_replace_value) {
                                    let o2 = product_list_replace_field.options[i];
                                    o2.selected = true;
                                }
                            }

                        }
                        catch {
                            console.log('Cannot update product list column names');
                        }


                    }

                );

        }

        const updatePriceSelect = () => {
            let price_list_select_value = price_list_select.value;
            let price_list_column_names = {};

        fetch(`https://pricelistcsv.pythonanywhere.com/return_price_columns/${price_list_select_value}`)
            .then((response) => response.json())
            .then(
                    (data) => {
                        price_list_column_names = JSON.parse((data[0].fields.column_names));

                        let price_list_search_field = document.getElementById("id_price_list_search_field");
                        let price_list_replace_field = document.getElementById("id_price_list_replace_field");

                        for (a in price_list_search_field.options) { price_list_search_field.options.remove(0); }
                        for (a in price_list_replace_field.options) { price_list_replace_field.options.remove(0); }


                        i = 0,
                        il = price_list_column_names.length;

                        try {
                            for (; i < il; i += 1) {
                                let option = document.createElement('option');
                                option.setAttribute('value', price_list_column_names[i]);
                                option.appendChild(document.createTextNode(price_list_column_names[i]));
                                price_list_search_field.appendChild(option);

                                if (option.value == price_list_search_value) {
                                    let o = price_list_search_field.options[i];
                                    o.selected = true;
                                }

                                let option2 = document.createElement('option');
                                option2.setAttribute('value', price_list_column_names[i]);
                                option2.appendChild(document.createTextNode(price_list_column_names[i]));
                                price_list_replace_field.appendChild(option2);

                                if (option2.value == price_list_replace_value) {
                                    let o2 = price_list_replace_field.options[i];
                                    o2.selected = true;
                                }
                            }

                        }
                        catch {
                            console.log('Cannot update price list product names');
                        }

                    }

                );

        }

        try {
            updateProductSelect();
        }
        catch {
            console.log("Couldn't update product select fields")
        }

        try {
            updatePriceSelect();
        }
        catch {
            console.log("Couldn't update product select fields")
        }

        product_list_select.addEventListener('change', updateProductSelect );

        price_list_select.addEventListener('change', updatePriceSelect );


    </script>

{% endblock %}