{% extends "menu.html" %}
{% load static %}
{% block content %}

    <div class="container mt-4 mb-5 text-center">
        <h1 class="">Delete Output CSV</h1>
        <hr>
        <h4 class="list-group-item-heading">Are you sure you want to delete the Output CSV: </h4>

        <p class="list-group-item-text">{{ outputcsv }}?</p>

        <form action="" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <input class="form-control form-horizontal btn btn-warning" type="submit" value="Delete">
              </div>
        </form>

        <button id="buttonCancel" class="form-control form-horizontal btn btn-default">Cancel</button>
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
        <br class="mb-5">
    </div>
    {% comment %}
    <script type="text/javascript" src="{% static 'js/cancel_button.js' %}"></script>
    {% endcomment %}

{% endblock %}